.DS_Store

doc/CHANGELOG.txt
doc/INSTALL.txt

doc/a2x.1.txt
doc/article-docinfo.xml
doc/article.txt
doc/asciidoc.1.txt
doc/asciidoc.conf
doc/asciidoc.dict
doc/asciidoc.txt
doc/asciidocapi.txt
doc/asciimath.txt
doc/book-multi.txt
doc/book.txt
doc/customers.csv
doc/epub-notes.txt
doc/faq.txt
doc/latex-backend.txt
doc/latex-bugs.txt
doc/latex-filter.txt
doc/latexmath.txt
doc/latexmathml.txt
doc/music-filter.txt
doc/publishing-ebooks-with-asciidoc.txt
doc/slidy-example.txt
doc/slidy.txt
doc/source-highlight-filter.txt
doc/testasciidoc.1.txt
doc/testasciidoc.txt

configure.ac
docbook-xsl/
